body {
    background-color: #f8f9fa;
}
.card img {
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.card {
    border-radius: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white;
}
