/* .admin-dashboard {
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  background: #212529;
}

.sidebar button {
  border: none;
  text-align: left;
  font-weight: 500;
}

.sidebar button:hover {
  background-color: #343a40;
  color: #fff;
} */
